body {
  margin: 0px;
  padding: 0;
  background-image: url("../images/welcome.jpg"); /* உங்கள் image path */
  background-size: cover;        /* screen முழுவதும் stretch ஆகும் */
  background-position: center;   /* image center‑இல் align ஆகும் */
  background-repeat: no-repeat;  /* repeat ஆகாது */
  height: 100vh;                 /* viewport height முழுவதும் */
}
.content{
    width: fit-content;
    color: white;
    padding: 50px 50px;
    font-weight: 52px;
}
.container{
    
    margin: 50px;
    text-align: left;
    width: fit-content;
    padding: 80px;
    
}
h1,p {
  line-height: 1.1;
  font-family:'Times New Roman', Times, serif;
  
}
